{% extends "layout.html" %}

{% block page_title %}
  Hackney - Maintain My Home
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="breadcrumbs">
        <ol>
          <li><a href="/raiserepair/what-is-problem">Choose problem</a></li>
          <li><a href="/raiserepair/what-repair-details">Add repair details</a></li>
          <li><a href="/raiserepair/search-property">Add address</a></li>
          <li>Book appointment</li>
        </ol>
      </div>
      <h1 class="heading-large">
        Maintain My Home
        <span class="heading-secondary">Request a repair</span>
      </h1>
      <h2 class="heading-medium">
        Book a repair appointment
      </h2>

      <p>You need to be available for the entire time slot.</p>
      <div class="grid-row">
        <div class="column-two-thirds">
          <h3 class="heading-small">Choose a time slot</h3>
          <div class="form-group">
            <fieldset class="">

              <legend class="visuallyhidden">Choose a time slot</legend>

              <div class="multiple-choice">
                <input id="morning" type="radio" name="timeSlot" value="morning">
                <label for="morning">morning, 8am - 12pm</label>
              </div>

              <div class="multiple-choice">
                <input id="afternoon" type="radio" name="timeSlot" value="afternoon">
                <label for="afternoon">afternoon, 12pm - 5pm</label>
              </div>

              <div class="multiple-choice">
                <input id="schoolRun" type="checkbox" name="schoolRun" value="schoolRun">
                <label for="schoolRun">10am - 2pm (avoid school run)</label>
              </div>

            </fieldset>
          </div>

        </div>
        <div class="column-two-thirds">
          <h3 class="heading-small">Choose one of the available dates</h3>
          <div style="padding: 20px 20px;border: 2px solid #666;" id="calendar">
            <header style="padding-bottom: 10px;">
              <button class="inline">«</button>
              <span>September 2017</span>
              <button>»</button>
            </header>
          <table>
            <tr>
              <td>S</td>
              <td>M</td>
              <td>T</td>
              <td>W</td>
              <td>Th</td>
              <td>F</td>
              <td>S</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
            </tr>
            <tr>
              <td>6</td>
              <td>7</td>
              <td>8</td>
              <td>9</td>
              <td>10</td>
              <td>11</td>
              <td>12</td>
            </tr>
            <tr>
              <td>13</td>
              <td>14</td>
              <td>15</td>
              <td style="background: #d3d3d3;" class="selected"><a  class="date" href="#">16</a></td>
              <td style="background: #d3d3d3;" class="selected"><a  class="date" href="#">17</a></td>
              <td>18</td>
              <td>19</td>
            </tr>
            <tr>
              <td>20</td>
              <td style="background: #d3d3d3;" class="selected"><a  class="date" href="#">21</a></td>
              <td style="background: #d3d3d3;" class="selected"><a  class="date" href="#">22</a></td>
              <td style="background: #d3d3d3;" class="selected"><a  class="date" href="#">23</a></td>
              <td>24</td>
              <td>25</td>
              <td>26</td>
            </tr>
            <tr>
              <td>27</td>
              <td>28</td>
              <td>29</td>
              <td>30</td>
              <td>31</td>
              <td></td>
              <td></td>
            </tr>
          </table>
          </div>
        </div>
        <div class="column-two-thirds">
          <h3 class="heading-medium">You have chosen:</h3>
          <p>Wednesday 23 September 2017</p>
          <p>12pm - 5pm</p>
        </div>

      </div>

      <form action="/raiserepair/book-appointment-contact" method="post" class="form">
        <div class="form-group">
          <input class="button" type="submit" value="Choose this appointment">
        </div>
      </form>

      <p>
        <a href="/raiserepair/search-property/">Back to find my address</a>
      </p>

    </div>

    <div class="column-one-third">
      <aside role="submited-steps">
        <h3 class="heading-large"><span class="heading-secondary">Your report</span></h3>
        <p class="heading-small">Problem</p>
        <p>Type: {{ data ['commonRepair'] }}</p>
        <p>Description: {{ data ['repair-notes'] }}</p>

        <p class="heading-small">Address</p>
        <p>{{ data ['address'] }}</p>
      </aside>

    </div>
  </div>
</main>

{% endblock %}

{% block scripts %}
  {% include "includes/scripts.html" %}
  {% block page_scripts %}

  <!-- additional scripts here -->

  {% endblock %}
{% endblock %}
