{% extends "layout.html" %}

{% block page_title %}
  Hackney - Maintain My Home
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Maintain My Home
        <span class="heading-secondary">Report a repair</span>
      </h1>
      <h2 class="heading-medium">
        Book a repair appointment
      </h2>
      <div class="grid-row">
        <div class="column-one-half">
          <h3>Please choose one of the availabe dates</h3>
          <p> >>> calendar here <<< </p>
        </div>
        <div class="column-one-half">
          <h3>Now choose a time slot</h3>
          <p> >>> time slots here <<< </p>

          <h3>Your chosen time for appointment</h3>
          <p> >>> chosen date and time slot here <<< </p>
        </div>
      </div>

      <h2 class="heading-medium">
        Please provide your contact details
      </h2>
      <p>Prior to the appintment we will send a remainder and a tracking number for the reapir</p>

      <div class="form-group">
        <label class="form-label" for="full-name">Full name</label>
        <input class="form-control" id="full-name" type="text" name="full-name">
      </div>

      <form>
        <div class="form-group">
          <fieldset>

            <legend>
              <h1 class="heading-medium">
                How do you want to be contacted?
              </h1>
            </legend>

            <div class="multiple-choice" data-target="contact-by-phone">
              <input id="example-contact-by-phone" type="checkbox" name="radio-contact-group" value="No">
              <label for="example-contact-by-phone">Phone</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
              <label class="form-label" for="contact-phone">Phone number</label>
              <input class="form-control" name="contact-phone" type="text" id="contact-phone">
            </div>

            <div class="multiple-choice" data-target="contact-by-email">
              <input id="example-contact-by-email" type="checkbox" name="radio-contact-group" value="Yes">
              <label for="example-contact-by-email">Email</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
              <label class="form-label" for="contact-email">Email address</label>
              <input class="form-control" name="contact-email" type="text" id="contact-email">
            </div>

          </fieldset>
        </div>
      </form>

      <form action="/raiserepair/confirmation" method="post" class="form">
        <div class="form-group">
          <input class="button" type="submit" value="Book appointment">
        </div>
      </form>

    </div>

    <div class="column-one-third">
      <aside role="submited-steps">
        <h6 class="heading-medium">Steps completed 3/4</h6>
        <p class="heading-small">1. Repair title</p>
        <p>Title: {{ data ['repairProblem'] }}</p>
        <p class="heading-small">2. Repair details</p>
        <p>details: {{ data [''] }}</p>
        <p class="heading-small">3. Property address</p>
        <p>Address: {{ data [''] }}</p>

        <hr>
      </aside>

    </div>
  </div>
</main>

{% endblock %}

{% block scripts %}
  {% include "includes/scripts.html" %}
  {% block page_scripts %}

  <!-- additional scripts here -->

  {% endblock %}
{% endblock %}
