{% extends "layout.html" %}

{% block page_title %}
  Hackney - Maintain My Home
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="/raiserepair/confirmation" method="post" class="form">

      <h1 class="heading-large">
        Maintain My Home
        <span class="heading-secondary">Request a repair</span>
      </h1>

      <h2 class="heading-medium">
        Who should we contact about this repair?
      </h2>

      <div class="form-group">
        <label class="form-label" for="full-name">Full name</label>
        <input class="form-control" id="full-name" type="text" name="full-name" required>
      </div>

      <div class="form-group">
        <label class="form-label" for="telephone-number">Mobile number</label>
        <input class="form-control" id="telephone-number" type="number" name="telephone-number" required>
      </div>

      <p>We will send you a reminder before your appointment.<p>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
      </form>

    </div>

    <div class="column-one-third">
      <aside role="submited-steps">
        <h3 class="heading-large"><span class="heading-secondary">Your report</span></h3>
        <p class="heading-small">Problem</p>
        <p>Type: {{ data['commonRepair'] }}</p>
        <p>Description: {{ data['repair-notes'] }}</p>

        <p class="heading-small">Address</p>
        <p>{{ data ['address'] }}</p>

        <p class="heading-small">Appointment</p>
        <p>Wednesday 23 September 2017<br>Afternoon (12pm - 5pm)</p>
      </aside>
    </div>
  </div>
</main>

{% endblock %}

{% block scripts %}
  {% include "includes/scripts.html" %}
  {% block page_scripts %}

  <!-- additional scripts here -->

  {% endblock %}
{% endblock %}
