{% extends "layout.html" %}

{% block page_title %}
  Hackney - Maintain My Home
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full-width">
      <h1 class="heading-large">
        Maintain My Home
        <span class="heading-secondary">Report a repair</span>
      </h1>

      <h2 class="heading-medium">Cannot find property</h2>
      <p>This may be due to your home not being in Hackney area.</p>
      <p>If you are a Hackney resident, please call our Repair Contact Centre at <strong class="bold-small"><span itemprop="telephone"><a href="tel:+020 8356 3691">
020 8356 3691</a></strong> and we will help you further with the problem.</p>
      <p>You can quote <strong class="bold-small">OR-31AU01</strong> as a reference of the repair.</p>

    </div>


    </div>
  </div>
</main>

{% endblock %}
