{% extends "layout.html" %}

{% block page_title %}
  Hackney - Maintain My Home
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full-width">
      <h1 class="heading-large">
        Maintain My Home
        <span class="heading-secondary">Request a repair</span>
      </h1>

      <h2 class="heading-medium">We cannot find your address</h2>
      <p>This might be because your home is not managed by Hackney Council.</p>


      <p>If you are one of our tenants, please call our repair centre on <strong class="bold-small"><span itemprop="telephone"><a href="tel:+02083563691">
      020 8356 3691</a></strong> so we can help you with your problem.</p>

      <p>We are open Monday to Friday 8am - 7pm and Saturdays 9am - 1pm.</p>
      <!-- <p>Please quote reference <strong class="bold-small">OR-31AU01</strong> when you call.</p> -->

    </div>


    </div>
  </div>
</main>

{% endblock %}
