{% extends "layout.html" %}

{% block page_title %}
  Hackney - Maintain My Home
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full-width">
      <h1 class="heading-large">
        Maintain My Home
        <span class="heading-secondary">Request a repair</span>
      </h1>
    </div>

    <div role="notice" class="notice help-notice">
      <h2 class="heading-medium">
        <i class="icon icon-important"></i>
        <strong class="bold-medium">Please call our repair centre</strong>
      </h2>
    </div>

    <p class="lede">The problem you're having might need urgent attention.</p>

    <p>Please call us on <strong class="bold-small"><span itemprop="telephone">
        <a href="tel:+02083562300">020 8356 2300</a>
    </span></strong> so we can help you with your problem.</p>
  </div>
</main>

{% endblock %}
