{% extends "layout.html" %}

{% block page_title %}
  Hackney - Maintain My Home
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full-width">
      <h1 class="heading-large">
        Maintain My Home
        <span class="heading-secondary">Report a repair</span>
      </h1>
      <!-- <p class="lede">We provide a housing and communal grounds repairs service for all our council tenants.</p> -->

      <h2 class="heading-medium">Emergency contact</h2>

    </div>
    <!-- Side Column with emergency info -->


    </div>
  </div>
</main>

{% endblock %}
