{% extends "layout.html" %}

{% block page_title %}
  Hackney - Maintain My Home
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Maintain My Home
        <span class="heading-secondary">Request a repair</span>
      </h1>

      <form action="/raiserepair/search-property-results" method="post" class="form">
        <div class="form-group">
          <h2 class="heading-medium">
             What is your address?
          </h2>

          <div class="form-group">
            <label class="form-label" for="postcode">
              Postcode
            </label>
            <input class="form-control" id="postcode" type="text" name="postcode" value="{{ data ['postcode'] }}">
          </div>

          <div class="form-group">
            <input class="button" type="submit" value="Find my address">
          </div>
        </div>
      </form>

      <p>
        <a href="/raiserepair/repair-details/">Back to add repair details</a>
      </p>

    </div>

    <div class="column-one-third">
      <aside role="submited-steps">
        <h3 class="heading-large"><span class="heading-secondary">Your report</span></h3>
        <p class="heading-small">Problem</p>
        <p>Type: {{ data ['commonRepair'] }}</p>
        {% if data ['repair-notes'] %}
        <p>Description: {{ data ['repair-notes'] }}</p>
        {% endif %}
      </aside>
    </div>
  </div>
</main>

{% endblock %}

{% block scripts %}
  {% include "includes/scripts.html" %}
  {% block page_scripts %}

  <script>
    $(document).ready(function(){
        $('#address-selection-button').on('click', function() {
          $('#address-selection').removeClass('js-hidden');
        });

        $('#postcode').keydown(function(event) {
          if ( event.which == 13 ) {
            $('#address-selection').removeClass('js-hidden');
            event.preventDefault();
          };
        });

        $.ajaxSetup({ cache: false });
        $('#repair-keyword').keyup(function(){
          $('#results').html('');
          $('#repair-keyword').val('');
          var searchField = $('#repair-keyword').val();
          var expression = new RegExp(searchField, "i");

          $.getJSON('../public/javascripts/repairItems.json', function(data) {
            $.each(data.repairItems, function(key, value){
              // console.log(value.name);
              if (value.name.search(expression) !=1 ) {
                $('#results').append('<option value=" ' + value.name + ' ">' + value.name + '</option>')
              }
            })
          });
        });
        $('#results').on('click', 'li', function() {
          var click_text = $(this).text().split('|');
          $('#repair-keyword').val($.trim(click_text[0]));
          $('#result').html();
        });

      });
  </script>

  {% endblock %}
{% endblock %}
