{% extends "layout.html" %}

{% block page_title %}
  Hackney - Maintain My Home
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Maintain My Home
        <span class="heading-secondary">Report a repair</span>
      </h1>
      <p class="lede">We provide a housing and communal grounds repairs service for all our council tenants.</p>
      <p>As a Tenant you can raise repairs for your home and communal areas. <br>As a Leaseholder you can raise repairs for communal areas only.</p>

      <h2 class="heading-medium">Raise a repair in 3 steps</h2>

      <p>You can raise most of basic types of repairs online and book an appointment.</p>
      <p>For more complex types of repairs we will help you create a repair request online and then call you to schedule an appointment.</p>

      <form action="/repair_request_start">
        <div class="form-group">
          <input class="button" type="submit" value="Start">
        </div>
      </form>

      <h2 class="heading-medium">Useful information about raising a repair</h2>


    </div>
    <!-- Side Column with emergency info -->
    <div class="column-one-third">
      <aside role="emergency information">
        <br>
        <div role="notice" aria-label="Smell Gas Help" class="notice help-notice">
          <i class="icon icon-important">
            <span class="visually-hidden">Call</span>
          </i>
          <strong class="bold-small">If you can smell gas, please call National Gas Emergency on: <span itemprop="telephone"><a href="tel:+0800 111 999">
0800 111 999</a></span></strong>
        </div>
        <br>
        <h3 class="heading-small">If your repair is one of the following</h3>
        <ul class="list list-bullet">
          <li>flood, fire or explosion damage</li>
          <li>an uncontrollable water leak</li>
          <li>only toilet is blocked</li>
          <li>no power / electricity </li>
          <li>cannot access my property as a vunerable person</li>
        </ul>
        <div role="notice" aria-label="Help" class="notice help-notice">
          <i class="icon icon-information">
            <span class="visually-hidden">Call</span>
          </i>
          <strong class="bold-small">Please call our repair centre on <span itemprop="telephone"><a href="tel:+020 8356 3691">
020 8356 3691</a></strong>
        </div>
        <br>
      </aside>

    </div>
  </div>
</main>

{% endblock %}
