{% extends "layout.html" %}

{% block page_title %}
  Hackney - Maintain My Home
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Maintain My Home
        <span class="heading-secondary">Request a repair</span>
      </h1>
      <p class="lede">We provide housing and communal grounds repairs for our tenants.</p>

      <p>You can use this online service to report the most common problems with your home.</p>

      <aside role="emergency information">
        <br>
        <div role="notice" aria-label="Smell Gas Help" class="notice help-notice">
          <i class="icon icon-important">
            <span class="visually-hidden">Call</span>
          </i>
          <strong class="bold-small">If you can smell gas, please call National Gas Emergency on:<br><span itemprop="telephone"><a href="tel:+0800 111 999">
0800 111 999</a></span></strong>
        </div>
        <br>
      </aside>

      <form action="/raiserepair/what-is-problem" method="post" class="form">
        <h2 class="heading-medium">
          Is your problem one of these?
        </h2>

        <ul class="list list-bullet">
          <li>uncontrollable water leak</li>
          <li>blocked toilet</li>
          <li>no power</li>
          <li>water dripping over a power socket or light</li>
          <li>I cannot access my property</li>
        </ul>

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">Is your repair one of the following?</legend>

            <div class="multiple-choice" data-target="emergency-contact">
              <input id="repairTypeYes" type="radio" name="repairType" value="false">
              <label for="repairTypeYes">Yes</label>
            </div>

            <div class="multiple-choice" data-target="regular-repair">
              <input id="repairTypeNo" type="radio" name="repairType" value="true">
              <label for="repairTypeNo">No</label>
            </div>

          </fieldset>
        </div>

        <div id="regular-repair" class="form-group">
          <input type="submit" class="button" value="Save and continue">
        </div>

      </form>

      <div id="emergency-contact" class="js-hidden">
        <form action="/raiserepair/emergency-contact" method="post" class="form inline">
          <div class="form-group inline">
            <input class="button" type="submit" value="Save and continue">
          </div>
        </form>
      </div>

    </div>
    <!-- Side Column with emergency info -->
    <div class="column-one-third">


    </div>
  </div>
</main>

{% endblock %}
